extends layout

block content 
  h1= title 

  ul 
    each recipe in recipe_list 
      li 
        a(href=recipe.url) #{recipe.name}
        |  (
        each cui in recipe.cuisine
          span(class = "item-list") #{cui.name}
        | )
    
    else 
      li There are no recipes